<div class="container d-flex justify-content-center align-items-center">
    <div class="row margin">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/">Home</a></li>
                <li class="breadcrumb-item active" aria-current="page">Baseline</li>
            </ol>
        </nav>
        <form action='/baseline' method="POST">
            <div class="card border-secondary w-100 text-light" style="background-color: #333f48">
                <h5 style="background-color: #bf5700;" class="card-header">Baseline</h5>
                <div class="card-body w-100 text-end">
                    <div id="errors" class="text-start"></div>
                    <table id="tableData" class="table text-light text-center mt-3">
                        <thead>
                            <tr>
                                <th scope="col">Commodity</th>
                                <th scope="col">Value</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    <div class="input-group mb-3">
                                        <select name="commodity" class="form-select commodity" id="inputGroupSelect01">
                                            <option disabled selected>Choose</option>
                                            <option>CHW</option>
                                            <option>ELE</option>
                                            <option>STM</option>
                                            <option>HHW</option>
                                            <option>GAS</option>
                                            <option>WTR</option>
                                            <option value='peack_CHW'>Peak CHW</option>
                                            <option value="labor">Labor</option>
                                        </select>
                                    </div>
                                </td>
                                <td>
                                    <div class="input-group mb-3">
                                        <input autocomplete="off" name="value" type="text" class="form-control value">
                                    </div>
                                </td>
                                <td>
                                    <button type="button" style="background-color: #bf5700;"
                                        class="btn btn-warning text-light addRowB"><i
                                            class="fas fa-plus-circle"></i>&nbsp;Add</button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="row text-center my-3">
                    <div class="col-5">
                        <a class="btn btn-warning" href="/fundings" role="button">Back</a>
                    </div>
                    <div class="col-5 text-end">
                        <button disabled id="next" type="button" class='btn btn-success'><a id="link"
                                class="text-white">Next</a></button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>