<div class="row margin">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">Costs and Hours</li>
        </ol>
    </nav>
    <div class="card border-secondary w-100 text-light" style="background-color: #333f48">
        <h5 style="background-color: #bf5700;" class="card-header">Costs &amp; Hours</h5>
        <div class="card-body w-100 text-end">
            <form action='/costs_hours' id="formData" method="POST">
                <div id="errors" class="text-start"></div>
                <table id="tableData" class="table text-light text-center mt-3">
                    <thead>
                        <tr>
                            <th scope="col">Implementation or Annual</th>
                            <th scope="col">Category</th>
                            <th scope="col">Costs</th>
                            <th scope="col">Hours</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                <div class="input-group mb-3">
                                    <div class="input-group mb-3">
                                        <select name="imp_or_ann" class="form-select imp_or_ann"
                                            id="inputGroupSelect01">
                                            <option disabled selected>Choose...</option>
                                            <option value='implementation'>Implementation</option>
                                            <option value='annual'>Annual</option>
                                        </select>

                                    </div>
                                </div>
                            </td>
                            <td>
                                <div class="input-group mb-3">
                                    <select name="category" class="form-select category" id="inputGroupSelect01">
                                        <option disabled selected>Choose...</option>
                                        <option value='emo'>EMO</option>
                                        <option value='analysts'>Analysts</option>
                                        <option value='maintenance'>Maintenance</option>
                                        <option value='ets'>ETS</option>
                                        <option value='bot'>BOT</option>
                                        <option value='other_ut'>OtherUT</option>
                                        <option value='materials'>Materials</option>
                                        <option value='non_ut'>Non-UT Contract</option>
                                        <option value='contingency'>Contingency</option>
                                    </select>
                                </div>
                            </td>
                            <td>
                                <div class="input-group mb-3">
                                    <input autocomplete="off" name="cost" type="text" class="cost form-control">
                                </div>
                            </td>
                            <td>
                                <div class="input-group mb-3">
                                    <input autocomplete="off" name="hours" type="text" class="hours form-control">
                                </div>
                            </td>
                            <td>
                                <button type="button" style="background-color: #bf5700;"
                                    class="btn btn-warning text-light addRow"><i
                                        class="fas fa-plus-circle"></i>&nbsp;Add
                                </button>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <div class="row text-center my-3">
                    <div class="col-11 text-end">
                        <button disabled id="next" type="button" class='btn btn-success'><a id="link"
                                class="text-white">Next</a>
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>