.background:hover{
    cursor: pointer;
    transition: transform 0.2s;
    transform: scale(1.4) rotateZ(-10deg);
}

.background a {
    color: black
}

.background a:hover{
    color: black
    
}

a {
    text-decoration: none;
}

.home {
    color: black;
    margin-top: 200px;
}

h1 {
    font-size: 60px;
    /* font-family: 'Mate SC', serif; */
}

.disclaimer{
    color: lightgray
}

.project_id {
    font-weight: bold;
}

.margin {
    margin-top: 100px;
}

.units{
   display: block
}

.bordered {
    border: 1px solid
}

.borderTop{
    border-top: 1px solid
}

#overlay {
    background-color:rgba(255, 255, 255, .8);
    color: #666666;
    position: fixed;
    height: 100%;
    width: 100%;
    z-index: 5000;
    top: 0;
    left: 0;
    float: left;
    text-align: center;
    padding-top: 25%;
    
  }
  .spinner {
      margin: 0 auto;
      height: 64px;
      width: 64px;
      animation: rotate 0.8s infinite linear;
      border: 5px solid firebrick;
      border-right-color: transparent;
      border-radius: 50%;
  }
  @keyframes rotate {
      0% {
          transform: rotate(0deg);
      }
      100% {
          transform: rotate(360deg);
      }
  }
 
  


@media (min-width: 764px) and (max-width: 1400px){
      .responsive{
          flex-direction: column;
          /* align-items: center; */
      }
  }

@media (min-width: 601px){
    .card {
        width: 600px;
    }
}

body{ 
    background-color: #faf0e6
}

