<div id="overlay" style="display:none;">
    <div class="spinner"></div>
    <br />
    Getting data, this will take a few seconds
</div>
<div class="row">
    <div class="col-md-12">
        <nav class='mt-5' aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a class="clear" href="/" role="button">Home</a></li>
                <li class="breadcrumb-item active" aria-current="page">Find</li>
            </ol>
        </nav>
        <form id="searchData" action="/find" method="POST">
            {{#each errors}}
            <p style="color: red">{{text}}</p>
            {{/each}}
            <div class="input-group">
                <select name="project_id" class="form-select" id="search" aria-label="Example select with button addon">
                    <option selected disabled>Project ID</option>
                    {{#each projectId}}
                    <option>{{project_id}}</option>
                    {{/each}}
                </select>
                <button id="load" class="btn btn-success" type="submit">Search</button>
            </div>
            <div class="card border-secondary mt-3 w-100 text-light" style="background-color: #333f48;">
                <h5 style="background-color: #bf5700;" class="card-header">Project Info</h5>
                <div class="card-body text-black">
                    <section class="row">
                        <div class="col-md-4">
                            <div class="input-group mb-3">
                                <label class="input-group-text" for="inputGroupSelect01">Building:</label>
                                <select disabled name="building" class="form-select" id="inputGroupSelect01">
                                    {{#with metadata}}
                                    <option selected>{{building}}</option>
                                    {{/with}}
                                </select>
                            </div>
                            <div class="input-group mb-3">
                                <label class="input-group-text" for="inputGroupSelect01">Measure Type:</label>
                                <select disabled name="measure_type" class="form-select" id="inputGroupSelect01">
                                    {{#with metadata}}
                                    <option selected>{{measure_type}}</option>
                                    {{/with}}
                                </select>
                            </div>
                            <div class="input-group mb-3">
                                <label class="input-group-text" for="inputGroupSelect01">Status:</label>
                                <select disabled name="status" class="form-select" id="inputGroupSelect01">
                                    {{#with metadata}}
                                    <option selected>{{status}}</option>
                                    {{/with}}
                                </select>
                            </div>
                            <div>
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" id="inputGroup-sizing-default">Project Fiscal
                                            Year:</span>
                                    </div>
                                    {{#with metadata}}
                                    <input disabled name="fiscal_year" value={{fiscal_year}} type="text"
                                        class="form-control">
                                    {{/with}}
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 mt-2">
                            <div class="row mb-3 ">
                                <div class="col-md-6 text-end">
                                    Baseline
                                </div>
                                <div class="col-md-6 text-center">
                                    Reporting
                                </div>
                            </div>
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="inputGroup-sizing-default">Start Date:</span>
                                </div>
                                {{#with metadata}}
                                <input disabled placeholder="mm/dd/yy" value={{baseline_start_date}}
                                    name="baseline_start_date" type="text" class="form-control" />
                                <input disabled placeholder="mm/yy/dd" value={{reporting_period_start_date}}
                                    name="reporting_period_start_date" type="text" class="form-control" />
                                {{/with}}
                            </div>
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="inputGroup-sizing-default"># of Days:</span>
                                </div>
                                {{#with metadata}}
                                <input disabled placeholder="mm/dd/yy" value={{length_baseline_period_days}}
                                    name="length_baseline_period_days" type="text" class="form-control" />
                                <input disabled placeholder="mm/dd/yy" value={{length_reporting_period_days}}
                                    name="length_reporting_period_days" type="text" class="form-control" />
                                {{/with}}
                            </div>
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="inputGroup-sizing-default">End Date:</span>
                                </div>
                                {{#with metadata}}
                                <input disabled name="baseline_end_date" value={{baseline_end_date}} type="text"
                                    class="form-control" />
                                <input disabled name="reporting_period_end_date" value={{reporting_period_end_date}}
                                    type="text" class="form-control" />
                                {{/with}}
                            </div>
                        </div>
                        <div class="col-md-4 mt-5">
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="inputGroup-sizing-default">Staff Lead:</span>
                                </div>
                                <select disabled name="staff_lead" class="form-select" id="inputGroupSelect01">
                                    {{#with metadata}}
                                    <option selected>{{staff_lead}}</option>
                                    {{/with}}
                                </select>
                            </div>
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="inputGroup-sizing-default">Staff Support:</span>
                                </div>
                                <select disabled name="staff_colead" class="form-select" id="inputGroupSelect01">
                                    {{#with metadata}}
                                    <option selected>{{staff_colead}}</option>
                                    {{/with}}
                                </select>
                            </div>
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="inputGroup-sizing-default">Analyst:</span>
                                </div>
                                <select disabled name="analyst" class="form-select" id="inputGroupSelect01">
                                    {{#with metadata}}
                                    <option selected>{{analyst}}</option>
                                    {{/with}}
                                </select>
                            </div>
                        </div>
                    </section>
                    <section class="input-group mt-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text">Project Description:</span>
                        </div>
                        {{#with metadata}}
                        <textarea disabled rows='5' name="project_description" class="form-control"
                            aria-label="With textarea">{{project_description}}</textarea>
                        {{/with}}
                    </section>
                    <section class="input-group mt-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text">Nonenergy Benefits:</span>
                        </div>
                        {{#with metadata}}
                        <textarea disabled rows='2' name="nonenergy_benefits" class="form-control"
                            aria-label="With textarea">{{nonenergy_benefits}}</textarea>
                        {{/with}}
                    </section>
                    <div class='text-end text-white mt-3'>
                        {{#with metadata}}
                        <a href="/find/{{project_id}}"><button type="button" class='btn btn-warning'>Edit</button></a>
                        {{/with}}
                    </div>
                </div>
            </div>
            <hr>
            <div class="row responsive">
                <div style="display: none;" class="col-md-12 warning">
                    <div class="alert alert-danger d-flex align-items-center"  role="alert">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor"
                            class="bi bi-exclamation-triangle-fill flex-shrink-0 me-2" viewBox="0 0 16 16" role="img"
                            aria-label="Warning:">
                            <path
                                d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z" />
                        </svg>
                        <div class='display'>
                            An example alert with an icon
                        </div>
                    </div>
                </div>
                <section class="col-md-6">
                    <div class="card border-secondary w-100 h-100 text-light mb-3" style="background-color: #333f48;">
                        <h5 style="background-color: #bf5700;" class="card-header">Costs &amp; Hours</h5>
                        <div class="card-body">
                            <table class="table text-light">
                                <thead>
                                    <tr class="text-end">
                                        <th class="text-start" scope="col">Implementation or Annual</th>
                                        <th class="text-start" scope="col">Category</th>
                                        <th scope="col">Cost ($)</th>
                                        <th scope="col">Hours</th>
                                        <th scope="col">Edit</th>
                                        <th scope="col">Delete</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {{#each costsHours}}
                                    <tr class="text-end">
                                        <td class="text-start costPhase">{{imp_or_ann}}</td>
                                        <td class="text-start">{{category}}</td>
                                        <td class="text-end sumCosts commas">{{cost}}</td>
                                        <td class="text-end">{{hours}}</td>
                                        <td>
                                            <a href="/find/costs_hours/{{id}}">
                                                <button id={{id}} type="button" class='btn btn-warning getId'><i
                                                        class="fas fa-edit"></i></button>
                                            </a>
                                        </td>
                                        <td>
                                            <a class="deleteId" href="/delete/costs_hours/{{id}}">
                                                <button type="button" class='btn btn-danger'><i
                                                        class="fas fa-trash-alt"></i></button>
                                            </a>
                                        </td>
                                    </tr>
                                    {{/each}}
                                </tbody>
                            </table>
                        </div>
                        {{#with metadata}}
                        <div class="card-footer text-end">
                            <a href="/add/costs_hours/{{project_id}}">
                                <button type="button" class='btn btn-success clear'><i
                                        class="fas fa-plus-circle">&nbsp;Add
                                        Record</i>
                                </button>
                            </a>
                        </div>
                        {{/with}}
                    </div>
                </section>
                <section class="col-md-6">
                    <div class="card border-secondary w-100 h-100 text-light" style="background-color: #333f48">
                        <h5 style="background-color: #bf5700;" class="card-header">Fundings</h5>
                        <div class="card-body">
                            <table class="table text-light">
                                <thead>
                                    <tr class="text-end">
                                        <th class="text-start" scope="col">Source</th>
                                        <th scope="col">Implem ($)</th>
                                        <th scope="col">Annual ($)</th>
                                        <th scope="col">Edit</th>
                                        <th scope="col">Delete</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {{#each funding}}
                                    <tr class="text-end">
                                        <td class="text-start">{{source}}</td>
                                        <td class="commas impFunds">{{implementation}}</td>
                                        <td class="commas annFunds">{{annual}}</td>
                                        <td>
                                            <a href="/find/funding/{{id}}" class='btn btn-warning'>
                                                <i class="fas fa-edit"></i>
                                            </a>
                                        </td>
                                        <td>
                                            <a href="/delete/funding/{{id}}" class='btn btn-danger'>
                                                <i class="fas fa-trash-alt"></i>
                                            </a>
                                        </td>
                                    </tr>
                                    {{/each}}
                                </tbody>
                            </table>
                        </div>
                        {{#with metadata}}
                        <div class="card-footer text-end">
                            <a href="/add/fundings/{{project_id}}">
                                <button type="button" class='btn btn-success clear'><i
                                        class="fas fa-plus-circle">&nbsp;Add
                                        Record</i>
                                </button>
                            </a>
                        </div>
                        {{/with}}
                    </div>
                </section>
            </div>
            <hr>
            <div class="row responsive">
                <section class="col-md-6">
                    <div class="card border-secondary w-100 h-100 mb-3 text-light" style="background-color: #333f48">
                        <h5 style="background-color: #bf5700;" class="card-header">Baseline</h5>
                        <div class="card-body">
                            <table class="table text-light">
                                <thead>
                                    <tr class="text-end">
                                        <th class="text-start" scope="col">Commodity</th>
                                        <th scope="col">Value</th>
                                        <th scope="col">Edit</th>
                                        <th scope="col">Delete</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {{#each baseline}}
                                    <tr class="text-end">
                                        <td class="text-start title">{{commodity}}</td>
                                        <td class='commas'>{{value}}</td>
                                        <td>
                                            <a href="/find/baseline/{{id}}" class='btn btn-warning'>
                                                <i class="fas fa-edit"></i>
                                        </td>
                                        <td>
                                            <a href="/delete/baseline/{{id}}" class='btn btn-danger'>
                                                <i class="fas fa-trash-alt"></i>
                                            </a>
                                        </td>
                                    </tr>
                                    {{/each}}
                                </tbody>
                            </table>
                        </div>
                        {{#with metadata}}
                        <div class="card-footer text-end">
                            <a href="/add/baseline/{{project_id}}">
                                <button type="button" class='btn btn-success clear'><i
                                        class="fas fa-plus-circle">&nbsp;Add
                                        Record</i>
                                </button>
                            </a>
                        </div>
                        {{/with}}
                    </div>
                </section>
                <section class="col-md-6">
                    <div class="card border-secondary w-100 h-100 text-light mb-3" style="background-color: #333f48" ;>
                        <h5 style="background-color: #bf5700;" class="card-header">Savings</h5>
                        <div class="card-body">
                            <table class="table text-light">
                                <thead>
                                    <tr class="text-end">
                                        <th class="text-start" scope="col">Phase</th>
                                        <th class="text-start" scope="col">Commodity</th>
                                        <th scope="col">Value</th>
                                        <th scope="col">Edit</th>
                                        <th scope="col">Delete</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {{#each savings}}
                                    <tr class="text-end">
                                        <td class="text-start">{{phase}}</td>
                                        <td class="text-start title">{{commodity}}</td>
                                        <td class="commas">{{value}}</td>
                                        <td>
                                            <a href="/find/savings/{{id}}" class='btn btn-warning'>
                                                <i class="fas fa-edit"></i>
                                        </td>
                                        <td>
                                            <a href="/delete/savings/{{id}}" class='btn btn-danger'>
                                                <i class="fas fa-trash-alt"></i>
                                            </a>
                                        </td>
                                    </tr>
                                    {{/each}}
                                </tbody>
                            </table>
                        </div>
                        {{#with metadata}}
                        <div class="card-footer text-end">
                            <a href="/add/savings/{{project_id}}">
                                <button type="button" class='btn btn-success clear'><i
                                        class="fas fa-plus-circle">&nbsp;Add
                                        Record</i>
                                </button>
                            </a>
                        </div>
                    </div>
                    {{/with}}
                </section>
            </div>
            <hr>
            <div class="row responsive justify-content-center">
                <section class="col-md-6 mb-5">
                    <div class="card border-secondary w-100 text-light" style="background-color: #333f48" ;>
                        <h5 style="background-color: #bf5700;" class="card-header">Misc Savings</h5>
                        <div class="card-body">
                            <table class="table text-light">
                                <thead>
                                    <tr class="text-end">
                                        <th class="text-start" scope="col">Phase</th>
                                        <th class="text-start" scope="col">Owner</th>
                                        <th scope="col">Misc Savings</th>
                                        <th scope="col">Edit</th>
                                        <th scope="col">Delete</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {{#each miscSavings}}
                                    <tr class="text-end">
                                        <td class="text-start">{{phase}}</td>
                                        <td class="text-start">{{misc_owner}}</td>
                                        <td class='commas'>{{misc_savings}}</td>
                                        <td>
                                            <a href="/find/miscsavings/{{id}}" class='btn btn-warning'>
                                                <i class="fas fa-edit"></i>
                                        </td>
                                        <td>
                                            <a href="/delete/miscsavings/{{id}}" class='btn btn-danger'>
                                                <i class="fas fa-trash-alt"></i>
                                            </a>
                                        </td>
                                    </tr>
                                    {{/each}}
                                </tbody>
                            </table>
                        </div>
                        {{#with metadata}}
                        <div class="card-footer text-end">
                            <a href="/add/miscsavings/{{project_id}}">
                                <button type="button" class='btn btn-success clear'><i
                                        class="fas fa-plus-circle">&nbsp;Add
                                        Record</i>
                                </button>
                            </a>
                        </div>
                    </div>
                    {{/with}}
                </section>
                <hr>
                <div class="row">
                    <div class="col-md-12">
                        {{> predictedPartial}}
                    </div>
                    <div class="col-md-12">
                        {{> mvPartial}}
                    </div>
                </div>
                {{#with metadata}}
                <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
                    aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="card border-secondary w-100 text-light" style="background-color: #333f48">
                                <h5 style="background-color: #bf5700;" class="card-header">Attention</h5>
                                <div class="card-body">
                                    <div class="modal-body mt-1">
                                        <h5 style="line-h-100: 35px">Continuing with this action will delete
                                            <strong><u>ALL</u></strong>
                                            data records from:
                                            <ul>
                                                <li>Project Info</li>
                                                <li>Costs &amp; Hours</li>
                                                <li>Fundings</li>
                                                <li>Baseline</li>
                                                <li>Savings</li>
                                                <li>Misc Savings</li>
                                            </ul>Associated with Project ID:
                                            <ul>
                                                <li><strong>{{project_id}}</strong></li>
                                            </ul>
                                        </h5>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-warning" data-bs-dismiss="modal">Go
                                            Back</button>
                                        <a href="/delete/all/{{project_id}}"><button type="button"
                                                class="btn btn-danger">Delete</button></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {{/with}}
        </form>
    </div>
    {{#with metadata}}
    <div class="mb-3 text-center">
        <button title="This will delete all data related to project ID: {{project_id}}" data-toggle="tooltip"
            data-placement="top" type="button" class="btn btn-danger" <span data-bs-toggle="modal"
            data-bs-target="#exampleModal">Delete Project</span>
        </button>
    </div>
    {{/with}}
</div>